@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.App {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 20%;
  font-size: 8rem;
}

